<script setup>
import { toRefs } from 'vue'
import { useRoute } from 'vue-router'

const router = useRoute()
const route = router.params.id
const data = await fetch(`https://mfd2023-3c080-default-rtdb.europe-west1.firebasedatabase.app/posts/-NRYLu09n73LJREIPJ3R/${route}.json`)
  .then((response) => response.json())
  .then((data) => data);

const {author,
description,
endDate,
excerpt,
id,
location,
signUpEnd,
signUpStart,
startDate,
title} = data

</script>

<template>
    <main>
        <div class="event-card">
            <div class="event-header">
                <h1>{{title}}</h1>
                <p>Starts: {{startDate}}. Ends: {{endDate}}</p>
            </div>
            <div class="location">Location: {{location}}</div>
            <p class="excerpt">{{ excerpt }}</p>
        </div>
    </main>
</template>


<style scoped>
main{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.event-card{
display: flex;
flex-direction: column;
width:50%;
height:100%;
border: 1px solid black;
border-radius: 4px;
margin: 8px 0px;
padding: 8px;
box-shadow: 1px 1px 6px 3px lightgrey;
}
.event-card:hover{
    background: snow;
    cursor: pointer;
}
.event-header{
display: flex;
width:100%;
justify-content: space-between;
align-items: baseline;
}
.location{
display: flex;
width:100%;
justify-content: end;
align-items: center;

}
.excerpt{
margin-top:8px;
font-style:oblique;
font-weight:700;
opacity:0.5;
}
</style>
