<script setup>
import { ref } from 'vue'
import { RouterLink } from 'vue-router'

defineProps({
  id:Number,
  route:String,
  title: String,
  startDate: String,
  endDate: String,
  location: String,
  excerpt: String,
})
</script>

<template>
  <RouterLink :to="`/event/${route}`" style="color:inherit;font-weight:inherit;">
    <div class="event-card">
      <div class="event-header">
        <h1>{{title}}</h1>
        <p>Starts: {{startDate}}. Ends: {{endDate}}</p>
      </div>
      <div class="location">Location: {{location}}</div>
      <p class="excerpt">{{ excerpt }}</p>
    </div>
  </RouterLink>
</template>


<style scoped>
.event-card{
display: flex;
flex-direction: column;
width:100%;
border: 1px solid black;
border-radius: 4px;
margin: 8px 0px;
padding: 8px;
box-shadow: 1px 1px 6px 3px lightgrey;
}
.event-card:hover{
    background: snow;
    cursor: pointer;
}
.event-header{
display: flex;
width:100%;
justify-content: space-between;
align-items: baseline;
}
.location{
display: flex;
width:100%;
justify-content: end;
align-items: center;

}
.excerpt{
  margin-top:8px;
overflow:hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-style:oblique;
font-weight:700;
opacity:0.5;
}
</style>
