<script setup>
import Event from "./Event.vue"
//import data from "../assets/data.json"
import { ref, watch } from "vue"
const data = await fetch("https://mfd2023-3c080-default-rtdb.europe-west1.firebasedatabase.app/posts.json")
  .then((response) => response.json())
  .then((data) => data);

  //const test = Object.values(Object.values(data)[0])
  const test = Object.keys(Object.values(data)[0]).map((key)=>{
    return {...Object.values(data)[0][key], route:key}
  })
const events = ref(test)
</script>

<template>
  <div class="list-container">
    <div class="event-list">
      <Event
       v-for="event in events" :v-if="events.length<0"
        :key="event.id"
        :route="event.route"
        :id="event.id"
        :title="event.title"
        :startDate="event.startDate"
        :endDate="event.endDate"
        :location="event.location"
        :excerpt="event.excerpt"
      />
    </div>
  </div>
</template>

<style scoped>
.list-container{
display: flex;
width:800px;
max-height:90vh;
margin: 32px auto;
border-radius: 4px;

}
.event-list{
display:flex;
flex-direction: column;
overflow-y: scroll;
overflow-x: auto;
padding:8px 16px;
}

</style>
