<script setup>
import {RouterView} from 'vue-router'

</script>

<template>
  <main>
    <div class="header-bar">
      <button class="auth-button">Login / Register</button>
    </div>
    <div class="content">
      <Suspense>
        <RouterView/>
      </Suspense>
    </div>
  </main>
</template>

<style scoped>
.header-bar {
  display:flex;
  align-items:center;
  justify-content: end;
  height: 50px;
  width:100%;
  background-color: slategray;
}
.auth-button{
  display: flex;
  align-items: center;
  margin-right:16px;
  text-align: center;
}
.content{
  display: flex;
}
</style>
